.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    background-color: #0E0B16;
    color: #E7DFDD;
}

.navbar_logo {
    display: flex;
    align-items: center;
    background-color: #0E0B16;
}

.navbar_logo img {
    width: 80px;
    margin-right: 0.8em;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    display: none;
}

.navbar li,
.navbar a {
    text-decoration: none;
    color: #E7DFDD;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    padding: .5em .8em;
    border-radius: 5px;
}

.navbar li:hover {
    background-color: #57bdd1;
    color: #0E0B16;
}

.navbar li:hover>a {
    color: #0E0B16;
}