* {
    color: #fff
}

.bold {
    font-weight: bold;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

.Home {
    display: inline-block;
    width: 100%;
    margin: 0;
}

.Home section {
    width: 40%;
    height: auto;
}

.Hometxt {
    float: left;
    margin: 0;
    padding: 0;
}

.homeImage {
    text-align: justify;
    margin: 0;
    float: right;
}

.homeImage img {
    margin-right: 20%;
    width: 80%;
}

.BoldBlue {
    color: #57bdd1;
}

.Helloworld {
    margin-top: 2em;
}

.Home h1 {
    margin-top: 0.5em;
    margin-bottom: .5em;
}

.Home span p {
    color: #57bdd1;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
}

.Home button {
    margin-top: 2em;
    border-radius: 8px;
    background-color: #57bdd1;
    color: #0E0B16;
    border: none;
    max-width: 200px;
    min-height: 2.5rem;
    width: 100%;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    transition: 0.5s;
}

.Home button:hover {
    color: #fff;
    background-color: #0E0B16;
    border: 2px solid #57bdd1;
}

.bold {
    font-weight: bold;
}


/* ABOUT */

.About {
    margin-top: 3em;
    width: 100%;
}

.About section {
    display: inline-block;
    width: 44%;
    height: auto;
}

.AboutImage {
    float: left;
}

.AboutImage img {
    width: 90%;
}

.AboutMe {
    float: right;
}

.About h1 {
    margin-bottom: 1.5em;
}

.About h2 {
    margin-bottom: 2em;
}

.About p {
    font-size: 1.3em;
    margin-bottom: 2.5em;
}

.About button {
    margin-left: 2.5em;
    margin-top: 4em;
    border-radius: 8px;
    background-color: #57bdd1;
    color: #0E0B16;
    border: none;
    max-width: 200px;
    min-height: 2.5rem;
    width: 100%;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    transition: 0.5s;
}

.About button:hover {
    color: #fff;
    background-color: #0E0B16;
    border: 2px solid #57bdd1;
}


/* SKILLS */



.Skills {
    text-align: center;
    width: 100%;
}

.Skills section {
    box-sizing: border-box;
    background-color: #000000;
    display: inline-block;
    width: 23%;
    height: 200px;
    margin-top: 1.5em;
    margin-right: 2em;
    border-bottom: 2em solid #57bdd1;
    border-radius: 10px;
}

.Skills img {
    width: 120px;
    padding: 1em;
}

.Skills h1 {
    margin-right: 4em;
    margin-bottom: 1.5em;
}

.Skills h2 {
    margin-top: 0;
    padding-top: 1em;
    margin-bottom: 1.2em;
    font-size: 1rem;

}

/* PROJECTS */

.Projects {
    position: relative;
}



.Projects h1 {
    margin-top: 5em;
    text-align: center;
}

@media (max-width:350px) {


    .AboutMe h2 {
        margin-bottom: 2em;
        margin-top: 2em;
    }

    .About {
        margin-top: 3em;
    }

    .About section {
        display: inline-block;
        width: 100%;
    }

    .AboutImage img {
        width: 200px;
        display: none;
        position: absolute;
    }
    
    .About button {
        margin-left: 0;
        margin-top: 1em;
        border-radius: 8px;
        background-color: #57bdd1;
        color: #0E0B16;
        border: none;
        max-width: 130px;
        min-height: 2.5rem;
        width: 150px;
        cursor: pointer;
        font-size: 1.1em;
        font-weight: bold;
        transition: 0.5s;
    }
    
    .About h2 {
        font-size: 3em;
        display: none;
    }

    .Skills div {
        text-align: center;
    }
    
    .Skills section {
        box-sizing: border-box;
        background-color: #000000;
        display: inline-block;
        width: 250px;
        height: 200px;
        margin-top: 1.5em;
        margin-right: 2em;
        border-bottom: 2em solid #57bdd1;
        border-radius: 10px;
    }
    
    .Skills img {
        width: 80px;
        padding: 1em;
    }
}

@media (max-width:400px) {

    .About section {
        display: inline-block;
        width: 100%;
        height: auto;
    }

    .Skills section {
        box-sizing: border-box;
        background-color: #000000;
        display: inline-block;
        width: 40%;
        height: 200px;
        margin-top: 1.5em;
        margin-right: 2em;
        border-bottom: 2em solid #57bdd1;
        border-radius: 10px;
    }


    
}

@media (max-width:480px) {
    .logoSkills {
        margin-right: .5em;
    }

    .Skills section {
        box-sizing: border-box;
        background-color: #000000;
        display: inline-block;
        width: 30%;
        height: 200px;
        margin-top: 1.5em;
        margin-right: 2em;
        border-bottom: 2em solid #57bdd1;
        border-radius: 10px;
    }

    .Skills img {
        width: 100px;
        padding: 1em;
    }

    .About h2 {
    font-size: 1.5em;
    }
}

@media (max-width:600px) {
    .About {
        margin-top: 3em;
        width: 100%;
    }
    
    .About section {
        display: inline;
        width: 100%;
        height: auto;
    }
    
    .AboutImage {
        float: left;
        width: 100%;
    }
    
    .AboutImage img {
        width: 100%;
    }

    .AboutMe {
        float: right;
    }

    .About button {
        max-width: 200px;
        margin-left: .5em;
    }

    .Skills section {
        box-sizing: border-box;
        background-color: #000000;
        display: inline-block;
        width: 30%;
        height: 200px;
        margin-top: 1.5em;
        margin-right: 2em;
        border-bottom: 2em solid #57bdd1;
        border-radius: 10px;
    }
}

@media (max-width:801px) {
    .Home section {
        width: 100%;
        height: auto;
    }

    .homeImage h1 {
        display: none;
    }

    .homeImage img {
        width: 40%;
        float: inline-start;
    }

    .About section {
        display: inline;
    }


}

@media (max-width:1025px) {
    .About section {
        width: 40%;
    }

    .AboutMe {
        width: 100%;
    }

    .AboutImage {
        margin-top: 6em;
    }


}
